@import url(https://fonts.googleapis.com/css?family=Biryani:300);

body {
  font-family: Biryani, sans-serif;
  background-color: #888888;
  max-width: fit-content;
  margin: auto;
  color: #FF0000;
  word-wrap: break-word;
}

.r {  color: #00FF00;  background-color: #888888;}
a {  color: #0000FF;}
img {  vertical-align: middle;}
article {  padding: 10px 20px;  margin: 10px 5px;}
footer {  margin: 50px;}
h1 {  margin-left: 5px;}

.center {  text-align: center;}
.center img {  max-width: 80%;  padding: 10px;}

#tools {  display: flex;  align-items: flex-start;  flex-flow: row wrap;  justify-content: space-around;}
#tools div {  padding: 10px 20px;  margin: 5px;}
#tools div ul {  list-style-type: none;  padding: 0;  margin: 0;}
#tools h3 {  margin: 0;  padding: 0;}

article, #tools div {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  background-color: #332323;
}

#fancyClock{ margin:40px auto; height:200px; /*border:1px solid #111111;*/ width: fit-content;}

a, a:visited {color:#0196e3; text-decoration:none; outline:none;}

a:hover{ text-decoration:underline;}

p.tutInfo{  
  padding:10px 0;
  text-align:center;
  position:absolute;
  bottom:0px;
  background-color:#222222;
  border-top:1px solid black;
  width:100%;
}

nav.fixed-top {  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);}

#wrap {  min-height: 100%;  height: auto;  padding: 57px 0 0 0;}

#footer {  padding-top: 5px;}
#footer p.credit {  text-align: center;}

.jumbotron {  position: relative;}
.jumbotron canvas {  position: absolute;  top: 0;  left: 0;  width: 100%;  height: 100%;  background-color: #00FFFF;}
.jumbotron .container {  pointer-events: none;  position: relative;  z-index: 10;}
.jumbotron .container .btn {  margin-bottom: 0.25em;  pointer-events: auto;}


