#tools{display:flex;align-items:flex-start;flex-flow: row wrap;justify-content:space-around;}
#tools a{margin:4px}
.switch{position: relative;display: inline-block;width: 30px;height: 15px;}
.switch input{opacity:0;width:0;height:0;}
.slider{position: absolute;	top:0;left:0;right:0;bottom:0;	background-color:#ccc;}
.slider:before{position:absolute;content: "";height:13px;width:13px;left:2px;bottom:2px;background-color:white;transition:.4s;top:1px;}
input:checked + .slider{background-color:#2196F3;}
input:checked + .slider:before{transform:translateX(13px);}
.slider.round{border-radius:17px;}
.slider.round:before {  border-radius: 50%;}
.bt {display:flex;justify-content:center;height:2rem;white-space:nowrap}
.classNum {color:gray;align-items:center;display:flex;border-bottom:solid 0.125rem transparent;box-sizing:border-box;height:100%;padding-right: 1rem;padding-left: 1rem;position:relative;text-decoration:none;}
.stage{color:blue}
.stage:after{border-top-width:0.25rem;border-top-style:solid;border-radius:0.25rem 0.25rem 0 0;bottom:-0.125rem;content:"";height:0;left:0;position:absolute;right:0}
.button{display:inline-block;padding:.25em .4em;font-size:75%;font-weight:700;line-height:1;text-align:center;border-radius:.25rem;text-decoration:none;color:#fff;background:linear-gradient(90deg,#5E31FF 0%,#007CFF 100%)}
.center{display:table;margin:auto;}
.info{margin-bottom:15px;background:#EE7752;max-inline-size: 10px;}
*{user-select: none;}
table{border-collapse:collapse;margin:auto;text-align:center;font-weight:800;}
td:nth-child(1){background-color: #dc3545;}
tr:nth-child(1){background-color:#ffc107}
.DS{color:#00cc00;}.COA{color:#00ffff;}.TOL{color:#ff00ff;}
.T_DS{color:#00cc00;}.T_COA{color:#00ffff;}.T_TOL{color:#ff00ff;}
.L_DS{color:#00cc00;}.L_COA{color:#00ffff;}.L_TOL{color:#ff00ff;}
.Math{color:#ff0000;}.py{color:#0000ff;}.PY{color:#0000ff;}.UHV{color:#ffaa22;}
.T_Math{color:#ff0000;}.T_PY{color:#0000ff;}.T_UHV{color:#ffaa22;}
.Quiz{color:#aa0000}
