.bg-day {background-color: #dc3545;}
.DS{color:#00cc00;}
.COA{color:#00ffff;}
.TOL{color:#ff00ff;}
.MATH{color:#ff0000;}
.PY{color:#0000ff;}
.UHV{color:#ffaa22;}
.QUIZ{color:#aa0000}
.button{
	display:inline-block;
	padding:.25em .4em;
	font-size:75%;
	font-weight:700;
	line-height:1;
 	text-align:center;
	border-radius:.25rem;
 	text-decoration:none;
	color:#fff;
	background-color:#007bff;
}
.box  form, td{
  position: relative;
  overflow: hidden;
  transition: .5s;
}
 td:hover{
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,0 0 25px #03e9f4,0 0 50px #03e9f4,0 0 100px #03e9f4;
}
.box span{position: absolute;}
.box span:nth-child(1) {
  top:0;left:-100%;width:100%;height:2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}@keyframes btn-anim1{0%{left:-100%;}50%,100% {left: 100%;}}
.box span:nth-child(2) {
  top: -100%;right: 0;width: 2px;height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}@keyframes btn-anim2{0%{top:-100%;}50%,100%{top:100%;}}
.box  span:nth-child(3) {
  bottom:0;right:-100%;width:100%;height:2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}@keyframes btn-anim3{0%{right:-100%;}50%,100%{right:100%;}}
.box  span:nth-child(4) {
  bottom:-100%;left:0;width:2px;height:100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}@keyframes btn-anim4{0%{bottom:-100%;}50%,100%{bottom:100%;}}
